/* FONDO NEGRO DEL BODY */
.body {
    background-color: black;
}

/* ESTILOS DE LA BIOGRAFIA */
.biografia {
    color: white;
    font-size: 3.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* PARRAFO DE LA BIOGRAFIA */
.parrafo {
    color: white;
    font-size: 1.5rem;
}

/* CLASS DE COLOR BLACO */
.c-blanco {
    color: white;
}

/* CLASS DE COLOR VERDE */
.c-verde {
    background-color: rgb(5, 66, 48);
}

