/* ESTILO DE LA PALABRA TOUR */
.tour {
    color: white;
    font-size: 3.5rem;
    margin-top: 20px;
    margin-bottom: 20px;


}

/*POSICIONAMIENTO DE TODO LO QUE ESTA ADENTRO DE TOUR 2022 */
.container {
    margin: auto;
    color: white;

}


/* TAMAÑO LUGARES TOUR */
.lugares-tour {
    font-size: 2.5rem;
}